---
import LInkedInIcon from './ICONS/LInkedInIcon.astro'
import GITIcon from './ICONS/GITIcon.astro'
import IGIcons from './ICONS/IGIcons.astro'
import X from './ICONS/X.astro'
import NavMD from './NavMD.astro'
---

<footer
	class="mb-20 flex justify-center gap-2 py-20 text-Orange md:gap-10 lg:hidden"
	id="Footer-Mobile"
>
	<a href="#" class="fa-brands fa-linkedin text-4xl text-Orange hover:text-[#0077B5]"></a>

	<a href="#" class="fa-solid fa-slash rotate-45 text-3xl text-Orange"></a>

	<a href="#" class="fa-brands fa-github text-4xl text-Orange hover:text-white"></a>

	<a href="#" class="fa-solid fa-slash rotate-45 text-3xl text-Orange"></a>

	<a
		href="#"
		class="fa-brands fa-instagram from-[#833ab4] via-[#fd1d1d] to-[#fcb045] text-4xl text-Orange hover:bg-gradient-to-r hover:bg-clip-text hover:text-transparent"
	></a>

	<a href="#" class="fa-solid fa-slash rotate-45 text-3xl text-Orange"></a>

	<a
		href="#"
		class="fa-brands fa-x-twitter from-[#1da1f2] to-[#0d90e0] text-4xl hover:bg-gradient-to-r hover:bg-clip-text hover:text-transparent"
	></a>
</footer>

<footer class="hidden py-20 lg:block" id="Footer-MD">
	<div class="flex justify-evenly p-20">
		<a href="#" class="fa-brands fa-linkedin text-4xl text-Orange hover:text-[#0077B5]"></a>

		<a href="#" class="fa-solid fa-slash rotate-45 text-3xl text-Orange"></a>

		<a href="#" class="fa-brands fa-github text-4xl text-Orange hover:text-white"></a>

		<a href="#" class="fa-solid fa-slash rotate-45 text-3xl text-Orange"></a>

		<a
			href="#"
			class="fa-brands fa-instagram from-[#833ab4] via-[#fd1d1d] to-[#fcb045] text-4xl text-Orange hover:bg-gradient-to-r hover:bg-clip-text hover:text-transparent"
		></a>

		<a href="#" class="fa-solid fa-slash rotate-45 text-3xl text-Orange"></a>

		<a
			href="#"
			class="fa-brands fa-x-twitter from-[#1da1f2] to-[#0d90e0] text-4xl text-Orange hover:bg-gradient-to-r hover:bg-clip-text hover:text-transparent"
		></a>
	</div>

	<div class="m-auto flex w-[50%] items-center justify-around gap-40">
		<a
			href="#"
			class="relative font-Oswald text-3xl after:absolute after:left-0 after:top-[35px] after:h-[3px] after:w-[0%] after:bg-Orange after:duration-300 after:content-[''] after:hover:w-[100%]"
			>Home</a
		>
		<a
			href="#"
			class="relative font-Oswald text-3xl after:absolute after:left-0 after:top-[35px] after:h-[3px] after:w-[0%] after:bg-Orange after:duration-300 after:content-[''] after:hover:w-[100%]"
			>About</a
		>
		<a href="/"
			><h1
				class="relative mb-10 ml-10 font-Oswald text-8xl text-Orange duration-300 after:absolute after:left-0 after:top-[100px] after:h-[3px] after:w-[0%] after:bg-Orange after:duration-300 after:content-[''] hover:text-Gray after:hover:w-[100%]"
			>
				JP<span class="text-6xl">ablo</span>
			</h1></a
		>
		<a
			href="#"
			class="relative font-Oswald text-3xl after:absolute after:left-0 after:top-[35px] after:h-[3px] after:w-[0%] after:bg-Orange after:duration-300 after:content-[''] after:hover:w-[100%]"
			>Services</a
		>
		<a
			href="#"
			class="relative font-Oswald text-3xl after:absolute after:left-0 after:top-[35px] after:h-[3px] after:w-[0%] after:bg-Orange after:duration-300 after:content-[''] after:hover:w-[100%]"
			>Contact</a
		>
	</div>
</footer>
