---
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props

import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/CSS/normalize.css" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<script src="https://kit.fontawesome.com/caac178fdb.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-BGColor text-white">
		<Nav />
		<slot />
		<Footer />
	</body>
</html>
