<div class="flex items-center justify-center gap-3">
	<i
		class="fa-brands fa-instagram from-[#833ab4] via-[#fd1d1d] to-[#fcb045] text-4xl text-Orange hover:bg-gradient-to-r hover:bg-clip-text hover:text-transparent"
	></i>

	<h2 class="font-Poppins text-2xl">@CommitPablo</h2>
</div>
