<a href="/public/CV/JPGR-CV-EN.pdf" download="JPGR-CV-EN-pdf">
	<div
		class="flex cursor-pointer items-center justify-center gap-3 rounded-xl bg-Orange p-3 text-white hover:bg-white hover:text-Orange"
	>
		<i class="fa-regular fa-circle-down text-3xl"></i>
		<p class="font-Poppins text-3xl">CV</p>
	</div>
</a>
